---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Gallery from '../components/Gallery.astro';
import Artists from '../components/Artists.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Jana Tattoo | Arte Del Tatuaje Minimalista">
  <main>
    <Hero />
    <Gallery />
    <Artists />
    <Contact />
  </main>
</Layout>

